
  

      <div class="row">
         <% @images.each do |image| %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card" >
                <%= image_tag image.url, class: "card-img-top image-size" %>
                <div class="card-body">
                    <p class="card-text"><%= image.name %></p>
                    <%= link_to "View", image_path(image), class: "btn btn-outline-success" %>
                    <%= link_to "Delete", image_path(image), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger", id: "image_delete" %>
                    
                </div>
                <div class="card-footer text-muted">
                    <% if image.tags.count > 0 %>
                    <div class="mb-2">
                        Tags: <%= render image.tags %>
                    </div>
                    <% end %>
                    <small>Created <%= time_ago_in_words(image.created_at) %></small> 
                
                </div>
            </div>
         
        </div>
         <% end %>
       </div>
   
