<h1 class="text-center mt-4"> <span class="badge badge-warning font-italic"><%= @tag %></span></h1>
  

      <div class="row mt-4">
         <% @filtered_images.each do |image| %>
        <div class="col-12  mb-5">
            <div class="card" >
                <%= image_tag image.url, class: "card-img-top " %>
                <div class="card-body">
                    <p class="card-text"><%= image.name %></p>
                    
                </div>
                <div class="card-footer text-muted">
                    <% if image.tags.count > 0 %>
                    <div class="mb-2">
                        Tags: <%= render image.tags %>
                    </div>
                    <% end %>
                    <small>Created <%= time_ago_in_words(image.created_at) %></small> 
                
                </div>
            </div>
         
        </div>
         <% end %>
       </div>
   
