
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, please check out this Image!!</h1>
    <p> Name: <%= @image.name %></p>
    </p>
    <%= image_tag @image.url %>
    <p>
    <p>
      Your email address is <%= @email[0] %>.<br>
    
      To login to the site, just follow this link: <%= @url %>.
    </p>

    <p><%= @message %></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>